<section class="slide" style="background-image: url(assets/images/homeslider/bg.jpg)">
    <div class="container">
        <div class="slide-cn" id="slide-home">
        <owl-carousel-o [options]="customOptionsHome">
            <ng-template carouselSlide>
               
                <div class="slide-item">
                    <div class="item-inner">
                        <div class="text">
                            <h2>Learn more - Earn more</h2>
                            <p>this is not only an elegant theme but also<br> a course management system<br> for
                                wordpress and drupal
                            </p>
                            <div class="group">
                                <a href="#" class="mc-btn btn-style-1">See full features</a>
                            </div>
                        </div>

                        <div class="img">
                            <img src="../../../assets/images/homeslider/img-thumb.png" alt="">
                        </div>
                    </div>

                </div>
            
                
            
            </ng-template>
            <ng-template carouselSlide>
             
                <div class="slide-item">
                    <div class="item-inner">
                        <div class="text">
                            <h2>Learn more - Earn more</h2>
                            <p>this is not only an elegant theme but also<br> a course management system<br> for
                                wordpress and drupal
                            </p>
                            <div class="group">
                                <a href="#" class="mc-btn btn-style-1">See full features</a>
                            </div>
                        </div>

                        <div class="img">
                            <img src="../../../assets/images/homeslider/slider2.png" alt="">
                        </div>

                    </div>
                
            </div>
                
            </ng-template>
            <ng-template carouselSlide>
             
                <div class="slide-item">
                    <div class="item-inner">
                        <div class="text">
                            <h2>Learn more - Earn more</h2>
                            <p>this is not only an elegant theme but also<br> a course management system<br> for
                                wordpress and drupal
                            </p>
                            <div class="group">
                                <a href="#" class="mc-btn btn-style-1">See full features</a>
                            </div>
                        </div>

                        <div class="img">
                            <img src="../../../assets/images/homeslider/slider3.png" alt="">
                        </div>

                    </div>
                
            </div>
                
            </ng-template>
           
            <ng-template carouselSlide>
             
                <div class="slide-item">
                    <div class="item-inner">
                        <div class="text">
                            <h2>Learn more - Earn more</h2>
                            <p>this is not only an elegant theme but also<br> a course management system<br> for
                                wordpress and drupal
                            </p>
                            <div class="group">
                                <a href="#" class="mc-btn btn-style-1">See full features</a>
                            </div>
                        </div>

                        <div class="img">
                            <img src="../../../assets/images/homeslider/slider4.png" alt="">
                        </div>

                    </div>
                
            </div>
                
            </ng-template>
            <ng-template carouselSlide>
             
                <div class="slide-item">
                    <div class="item-inner">
                        <div class="text">
                            <h2>Learn more - Earn more</h2>
                            <p>this is not only an elegant theme but also<br> a course management system<br> for
                                wordpress and drupal
                            </p>
                            <div class="group">
                                <a href="#" class="mc-btn btn-style-1">See full features</a>
                            </div>
                        </div>

                        <div class="img">
                            <img src="../../../assets/images/homeslider/slider5.png" alt="">
                        </div>

                    </div>
                
            </div>
                
            </ng-template>
        </owl-carousel-o>
        
            
        </div>


        <!-- <div class="slide-cn" id="slide-home">

            <div class="slide-item">
                <div class="item-inner">
                    <div class="text">
                        <h2>Learn more - Earn more</h2>
                        <p>this is not only an elegant theme but also<br> a course management system<br> for wordpress and drupal
                        </p>
                        <div class="group">
                            <a href="#" class="mc-btn btn-style-1">See full features</a>
                        </div>
                    </div>

                    <div class="img">
                        <img src="../../../assets/images/homeslider/img-thumb.png" alt="">
                    </div>
                </div>

            </div>  
           
            <div class="slide-item">
                <div class="item-inner">
                    <div class="text">
                        <h2>Learn more - Earn more</h2>
                        <p>this is not only an elegant theme but also<br> a course management system<br> for wordpress and drupal
                        </p>
                        <div class="group">
                            <a href="#" class="mc-btn btn-style-1">See full features</a>
                        </div>
                    </div>

                    <div class="img">
                        <img src="../../../assets/images/homeslider/img-thumb.png" alt="">
                    </div>

                </div>  
            </div>  


        </div> -->
    </div>
</section>
<!-- END / HOME SLIDER -->


<!-- AFTER SLIDER -->
<section id="after-slider" class="after-slider section">
    <div class="awe-color bg-color-1"></div>
    <div class="after-slider-bg-2"></div>
    <div class="container">

        <div class="after-slider-content tb">
            <div class="inner tb-cell">
                <h4>Find your course</h4>
                <div class="course-keyword">
                    <input type="text" placeholder="Course keyword">
                </div>
                <div class="mc-select-wrap">
                    <div class="mc-select">
                        <select class="select" name="" id="all-categories">
                            <option value="" selected>All categories</option>
                            <option value="">2</option>
                        </select>
                    </div>
                </div>
                <div class="mc-select-wrap">
                    <div class="mc-select">
                        <select class="select" name="" id="beginner-level">
                            <option value="" selected>Beginner level</option>
                            <option value="">Beginner level 2</option>
                            <option value="">Beginner level 3</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="tb-cell text-right">
                <div class="form-actions">
                    <input type="button" (click)="goto()" value="Find Course" class="mc-btn btn-style-1">
                </div>
            </div>
        </div>

    </div>
</section>
<!-- END / AFTER SLIDER -->

<!-- SECTION 1 -->
<section id="mc-section-1" class="mc-section-1 section">
    <div class="container">
        <div class="row">

            <div class="col-md-5">
                <div class="mc-section-1-content-1">
                    <h2 class="big">Online And Offline Training Course Management</h2>
                    <p class="mc-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                        euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                    <a href="#" class="mc-btn btn-style-1">About us</a>
                </div>
            </div>

            <div class="col-md-6 col-lg-offset-1">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="featured-item">
                            <i class="icon icon-featured-1"></i>
                            <h4 class="title-box text-uppercase">CLEAN AND EASY</h4>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam tincidunt ut laoreet
                            </p>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="featured-item">
                            <i class="icon icon-featured-2"></i>
                            <h4 class="title-box text-uppercase">TEACH AS YOU CAN</h4>
                            <p> Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit</p>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="featured-item">
                            <i class="icon icon-featured-3"></i>
                            <h4 class="title-box text-uppercase">COMMUNITY SUPPORT</h4>
                            <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat
                            </p>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="featured-item">
                            <i class="icon icon-featured-4"></i>
                            <h4 class="title-box text-uppercase">TRACKING PERFORMANCE</h4>
                            <p> Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- END / SECTION 1 -->



<!-- SECTION 2 -->
<section id="mc-section-2" class="mc-section-2 section">
    <div class="awe-parallax bg-section1-demo"></div>
    <div class="overlay-color-1"></div>
    <div class="container">
        <div class="section-2-content">
            <div class="row">

                <div class="col-md-5">
                    <div class="ct">
                        <h2 class="big">Learning online is easier than ever before</h2>
                        <p class="mc-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
                            nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                        <a href="#" class="mc-btn btn-style-3">See how it work</a>
                    </div>
                </div>

                <div class="col-md-7">
                    <div class="image">
                        <img src="../../../assets/images/image.png" alt="">
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- END / SECTION 2 -->


<!-- SECTION 3 -->
<section id="mc-section-3" class="mc-section-3 section">
    <div class="container">
        <!-- FEATURE -->
        <div class="feature-course">
            <h4 class="title-box text-uppercase">FEATURE COURSE</h4>
            <a href="categories.html" class="all-course mc-btn btn-style-1">View all</a>
            <div class="row">
                <div class="feature-slider">
                    <owl-carousel-o [options]="customOptions">
                        <ng-template carouselSlide>
                            <div class="slide">
                                <div class="mc-item mc-item-1">
                                    <div class="image-heading">
                                        <img src="../../../assets/images/feature/img-1.jpg" alt="">
                                    </div>
                                    <div class="meta-categories"><a href="#">Web design</a></div>
                                    <div class="content-item">
                                        <div class="image-author">
                                            <img src="../../../assets/images/avatar-1.jpg" alt="">
                                        </div>
                                        <h4><a href="course-intro.html">The Complete Digital Photography Course Amazon Top
                                                Seller</a></h4>
                                        <div class="name-author">
                                            By <a href="#">Name of Mr or Mrs</a>
                                        </div>
                                    </div>
                                    <div class="ft-item">
                                        <div class="rating">
                                            <a href="#" class="active"></a>
                                            <a href="#" class="active"></a>
                                            <a href="#" class="active"></a>
                                            <a href="#"></a>
                                            <a href="#"></a>
                                        </div>
                                        <div class="view-info">
                                            <i class="icon md-users"></i>
                                            2568
                                        </div>
                                        <div class="comment-info">
                                            <i class="icon md-comment"></i>
                                            25
                                        </div>
                                        <div class="price">
                                            $190
                                            <span class="price-old">$134</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="slide">
                                <div class="mc-item mc-item-1">
                                    <div class="image-heading">
                                        <img src="../../../assets/images/feature/img-1.jpg" alt="">
                                    </div>
                                    <div class="meta-categories"><a href="#">Web design</a></div>
                                    <div class="content-item">
                                        <div class="image-author">
                                            <img src="../../../assets/images/avatar-1.jpg" alt="">
                                        </div>
                                        <h4><a href="course-intro.html">The Complete Digital Photography Course Amazon Top
                                                Seller</a></h4>
                                        <div class="name-author">
                                            By <a href="#">Name of Mr or Mrs</a>
                                        </div>
                                    </div>
                                    <div class="ft-item">
                                        <div class="rating">
                                            <a href="#" class="active"></a>
                                            <a href="#" class="active"></a>
                                            <a href="#" class="active"></a>
                                            <a href="#"></a>
                                            <a href="#"></a>
                                        </div>
                                        <div class="view-info">
                                            <i class="icon md-users"></i>
                                            2568
                                        </div>
                                        <div class="comment-info">
                                            <i class="icon md-comment"></i>
                                            25
                                        </div>
                                        <div class="price">
                                            $190
                                            <span class="price-old">$134</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="slide">
                                <div class="mc-item mc-item-1">
                                    <div class="image-heading">
                                        <img src="../../../assets/images/feature/img-1.jpg" alt="">
                                    </div>
                                    <div class="meta-categories"><a href="#">Web design</a></div>
                                    <div class="content-item">
                                        <div class="image-author">
                                            <img src="../../../assets/images/avatar-1.jpg" alt="">
                                        </div>
                                        <h4><a href="course-intro.html">The Complete Digital Photography Course Amazon Top
                                                Seller</a></h4>
                                        <div class="name-author">
                                            By <a href="#">Name of Mr or Mrs</a>
                                        </div>
                                    </div>
                                    <div class="ft-item">
                                        <div class="rating">
                                            <a href="#" class="active"></a>
                                            <a href="#" class="active"></a>
                                            <a href="#" class="active"></a>
                                            <a href="#"></a>
                                            <a href="#"></a>
                                        </div>
                                        <div class="view-info">
                                            <i class="icon md-users"></i>
                                            2568
                                        </div>
                                        <div class="comment-info">
                                            <i class="icon md-comment"></i>
                                            25
                                        </div>
                                        <div class="price">
                                            $190
                                            <span class="price-old">$134</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="slide">
                                <div class="mc-item mc-item-1">
                                    <div class="image-heading">
                                        <img src="../../../assets/images/feature/img-1.jpg" alt="">
                                    </div>
                                    <div class="meta-categories"><a href="#">Web design</a></div>
                                    <div class="content-item">
                                        <div class="image-author">
                                            <img src="../../../assets/images/avatar-1.jpg" alt="">
                                        </div>
                                        <h4><a href="course-intro.html">The Complete Digital Photography Course Amazon Top
                                                Seller</a></h4>
                                        <div class="name-author">
                                            By <a href="#">Name of Mr or Mrs</a>
                                        </div>
                                    </div>
                                    <div class="ft-item">
                                        <div class="rating">
                                            <a href="#" class="active"></a>
                                            <a href="#" class="active"></a>
                                            <a href="#" class="active"></a>
                                            <a href="#"></a>
                                            <a href="#"></a>
                                        </div>
                                        <div class="view-info">
                                            <i class="icon md-users"></i>
                                            2568
                                        </div>
                                        <div class="comment-info">
                                            <i class="icon md-comment"></i>
                                            25
                                        </div>
                                        <div class="price">
                                            $190
                                            <span class="price-old">$134</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="slide">
                                <div class="mc-item mc-item-1">
                                    <div class="image-heading">
                                        <img src="../../../assets/images/feature/img-1.jpg" alt="">
                                    </div>
                                    <div class="meta-categories"><a href="#">Web design</a></div>
                                    <div class="content-item">
                                        <div class="image-author">
                                            <img src="../../../assets/images/avatar-1.jpg" alt="">
                                        </div>
                                        <h4><a href="course-intro.html">The Complete Digital Photography Course Amazon Top
                                                Seller</a></h4>
                                        <div class="name-author">
                                            By <a href="#">Name of Mr or Mrs</a>
                                        </div>
                                    </div>
                                    <div class="ft-item">
                                        <div class="rating">
                                            <a href="#" class="active"></a>
                                            <a href="#" class="active"></a>
                                            <a href="#" class="active"></a>
                                            <a href="#"></a>
                                            <a href="#"></a>
                                        </div>
                                        <div class="view-info">
                                            <i class="icon md-users"></i>
                                            2568
                                        </div>
                                        <div class="comment-info">
                                            <i class="icon md-comment"></i>
                                            25
                                        </div>
                                        <div class="price">
                                            $190
                                            <span class="price-old">$134</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="slide">
                                <div class="mc-item mc-item-1">
                                    <div class="image-heading">
                                        <img src="../../../assets/images/feature/img-1.jpg" alt="">
                                    </div>
                                    <div class="meta-categories"><a href="#">Web design</a></div>
                                    <div class="content-item">
                                        <div class="image-author">
                                            <img src="../../../assets/images/avatar-1.jpg" alt="">
                                        </div>
                                        <h4><a href="course-intro.html">The Complete Digital Photography Course Amazon Top
                                                Seller</a></h4>
                                        <div class="name-author">
                                            By <a href="#">Name of Mr or Mrs</a>
                                        </div>
                                    </div>
                                    <div class="ft-item">
                                        <div class="rating">
                                            <a href="#" class="active"></a>
                                            <a href="#" class="active"></a>
                                            <a href="#" class="active"></a>
                                            <a href="#"></a>
                                            <a href="#"></a>
                                        </div>
                                        <div class="view-info">
                                            <i class="icon md-users"></i>
                                            2568
                                        </div>
                                        <div class="comment-info">
                                            <i class="icon md-comment"></i>
                                            25
                                        </div>
                                        <div class="price">
                                            $190
                                            <span class="price-old">$134</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="slide">
                                <div class="mc-item mc-item-1">
                                    <div class="image-heading">
                                        <img src="../../../assets/images/feature/img-1.jpg" alt="">
                                    </div>
                                    <div class="meta-categories"><a href="#">Web design</a></div>
                                    <div class="content-item">
                                        <div class="image-author">
                                            <img src="../../../assets/images/avatar-1.jpg" alt="">
                                        </div>
                                        <h4><a href="course-intro.html">The Complete Digital Photography Course Amazon Top
                                                Seller</a></h4>
                                        <div class="name-author">
                                            By <a href="#">Name of Mr or Mrs</a>
                                        </div>
                                    </div>
                                    <div class="ft-item">
                                        <div class="rating">
                                            <a href="#" class="active"></a>
                                            <a href="#" class="active"></a>
                                            <a href="#" class="active"></a>
                                            <a href="#"></a>
                                            <a href="#"></a>
                                        </div>
                                        <div class="view-info">
                                            <i class="icon md-users"></i>
                                            2568
                                        </div>
                                        <div class="comment-info">
                                            <i class="icon md-comment"></i>
                                            25
                                        </div>
                                        <div class="price">
                                            $190
                                            <span class="price-old">$134</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="slide">
                                <div class="mc-item mc-item-1">
                                    <div class="image-heading">
                                        <img src="../../../assets/images/feature/img-1.jpg" alt="">
                                    </div>
                                    <div class="meta-categories"><a href="#">Web design</a></div>
                                    <div class="content-item">
                                        <div class="image-author">
                                            <img src="../../../assets/images/avatar-1.jpg" alt="">
                                        </div>
                                        <h4><a href="course-intro.html">The Complete Digital Photography Course Amazon Top
                                                Seller</a></h4>
                                        <div class="name-author">
                                            By <a href="#">Name of Mr or Mrs</a>
                                        </div>
                                    </div>
                                    <div class="ft-item">
                                        <div class="rating">
                                            <a href="#" class="active"></a>
                                            <a href="#" class="active"></a>
                                            <a href="#" class="active"></a>
                                            <a href="#"></a>
                                            <a href="#"></a>
                                        </div>
                                        <div class="view-info">
                                            <i class="icon md-users"></i>
                                            2568
                                        </div>
                                        <div class="comment-info">
                                            <i class="icon md-comment"></i>
                                            25
                                        </div>
                                        <div class="price">
                                            $190
                                            <span class="price-old">$134</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </owl-carousel-o>
                   
                </div>
            </div>
        </div>
        <!-- END / FEATURE -->
    </div>
</section>
<!-- END / SECTION 3 -->



<!-- BEFORE FOOTER -->
<section id="before-footer" class="before-footer">
    <div class="container">
        <div class="row">

            <div class="col-lg-8">
                <div class="mc-count-item">
                    <h4>Courses</h4>
                    <p><span class="countup">2536,556</span></p>
                </div>
                <div class="mc-count-item">
                    <h4>Teachers</h4>
                    <p><span class="countup">10,389</span></p>
                </div>
                <div class="mc-count-item">
                    <h4>Students</h4>
                    <p><span class="countup">34,177</span></p>
                </div>
                <div class="mc-count-item">
                    <h4>Tuition Paid</h4>
                    <p>$ <span class="countup">793,361,890</span></p>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="before-footer-link">
                    <a href="#" class="mc-btn btn-style-2">Become a member</a>
                    <a [routerLink]="['/elearn/becomeauthor']" class="mc-btn btn-style-1">Become a teacher</a>
                </div>
            </div>
        </div>
    </div>
</section>
