

<div class="login-form">
  <mat-icon [mat-dialog-close]="true" style="float: right;cursor: pointer;">close</mat-icon>
  <mat-tab-group>
    <mat-tab label="Login">
        <form  [formGroup]="frmLogin"  (ngSubmit)="login()">
     
      <div class="form-group">
        <input type="text" autocomplete="Off" formControlName="username" name="mycase"  placeholder="E-mail Address">
        <small class="form-text text-danger" *ngFor="let errorMessage of frmLogin.controls.username['errorMessages']">
            {{errorMessage}}<br/>
          </small>
        
        <span class="input-icon"><i class="fa fa-envelope"></i></span>
      </div>
      <div class="form-group">
     
        <input type="password" formControlName="password" name="asdasdasdfake" placeholder="Password">
        <small class="form-text text-danger" *ngFor="let errorMessage of frmLogin.controls.password['errorMessages']">
            {{errorMessage}}<br/>
          </small>
         
        <span    class="input-icon"><i class="fa fa-lock"></i></span>
      </div>      
      <button class="login-btn" *ngIf="isLoginLoading">
        <i class="fa fa-spinner fa-spin"></i>Loading
      </button>
      <button *ngIf="!isLoginLoading" [disabled]="!frmLogin.valid" type="submit" class="login-btn">Login</button>    
      <a class="reset-psw" >Forgot your password?</a>
      <div class="seperator"><b>or</b></div>
      <p>Sign in with your social media account</p>
      <!-- Social login buttons -->
      <div class="social-icon">
        <button  type="button"><i class="fa fa-twitter"></i></button>
        <button type="button"><i class="fa fa-facebook"></i></button>
      </div>
    </form> 
  
  </mat-tab>
    <mat-tab label="Register"> 
      <form  [formGroup]="frmRegister"  (ngSubmit)="signUp()">
      <div class="user-role">
      <mat-radio-group aria-label="Select an option" formControlName="usertype"> 
        <mat-radio-button value="Learner" >Learner</mat-radio-button> &nbsp; &nbsp;
        <mat-radio-button value="Author">Auther</mat-radio-button>
      </mat-radio-group>
    </div>

      <div class="form-group">
        <input type="text" autocomplete="Off" formControlName="userName" name="userName"  placeholder="User name">
        <small class="form-text text-danger" *ngFor="let errorMessage of frmLogin.controls.username['errorMessages']">
            {{errorMessage}}<br/>
          </small>
        
        <span class="input-icon"><i class="fa fa-user"></i></span>
      </div>

      <div class="form-group">
        <input type="text" autocomplete="Off" formControlName="email" name="email"  placeholder="Email-Id">
        <small class="form-text text-danger" *ngFor="let errorMessage of frmLogin.controls.username['errorMessages']">
            {{errorMessage}}<br/>
          </small>
        
        <span class="input-icon"><i class="fa fa-envelope"></i></span>
      </div>
      <div class="form-group">
        <input type="password" formControlName="password" name="password" placeholder="Password">
        <small class="form-text text-danger" *ngFor="let errorMessage of frmLogin.controls.password['errorMessages']">
            {{errorMessage}}<br/>
          </small>
        <span class="input-icon"><i class="fa fa-lock"></i></span>
      </div> 
      <div class="form-group">
        <mat-checkbox style="margin-top: 6px;
        position: absolute;">
        </mat-checkbox>
        <p>  I’m in for emails with exciting discounts and personalized recommendations</p>
      </div>     
     
      <button *ngIf="!isLoading"  [disabled]="!frmRegister.valid" type="submit" class="login-btn">Register</button>  
      
      <button class="login-btn" *ngIf="isLoading">
        <i class="fa fa-spinner fa-spin"></i>Loading
      </button>
     
    </form> 
   </mat-tab>
  </mat-tab-group>


  
    <!-- <form  [formGroup]="frmLogin"  (ngSubmit)="login()">
      <h1>Login</h1>
      <div class="form-group">
        <input type="text" autocomplete="Off" formControlName="username" name="mycase"  placeholder="E-mail Address">
        <small class="form-text text-danger" *ngFor="let errorMessage of frmLogin.controls.username['errorMessages']">
            {{errorMessage}}<br/>
          </small>
        
        <span class="input-icon"><i class="fa fa-envelope"></i></span>
      </div>
      <div class="form-group">
     
        <input type="password" formControlName="password" name="asdasdasdfake" placeholder="Password">
        <small class="form-text text-danger" *ngFor="let errorMessage of frmLogin.controls.password['errorMessages']">
            {{errorMessage}}<br/>
          </small>
        <span class="input-icon"><i class="fa fa-lock"></i></span>
      </div>      
    
      <button  [disabled]="!frmLogin.valid" type="submit" class="login-btn">Login</button>    
      <a class="reset-psw" >Register | Forgot your password?</a>  
      <a class="reset-psw" >Forgot your password?</a>
      <div class="seperator"><b>or</b></div>
      <p>Sign in with your social media account</p>
   
      <div class="social-icon">
        <button  type="button"><i class="fa fa-twitter"></i></button>
        <button type="button"><i class="fa fa-facebook"></i></button>
      </div>
    </form> -->
  </div>