.login-content {
    position: relative;
    padding-top: 0px;
    z-index: 9;
}
.text-danger {
  color: #d40404;
  margin-left: 23px;
}
mat-tab-header.mat-tab-header {
  border-bottom: none !important;
}
.fa-spinner {
  margin-left: -12px;
  margin-right: 12px;
}
.mat-tab-label {
  height: 28px !important;
  padding: 0px 19px !important;
  cursor: pointer;
  box-sizing: border-box;
  opacity: 0.6;
  min-width: 160px;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  position: relative;
}
body {
    background: #607D8B;
    font-family: arial;
  }
  .login-form h1 {
    font-size: 36px;
    text-align: center;
    color: #37abf2;
    margin-bottom: 30px;
    font-weight: normal;
  }
  .login-form .social-icon {
      width: 100%;
      font-size: 20px;
      padding-top: 0px;
      color: #fff;
      text-align: center;
      float: left;
  }
  .login-form {
      background: #fff;
      width: 450px;
      border-radius: 6px;
      margin: 0 auto;
      display: table;
      padding: 15px 30px 30px;
      box-sizing: border-box;
  }
  .form-group {
    float: left;
    width: 100%;
    margin: 0 0 15px;
    position: relative;
  }
  .login-form input {
    width: 100%;
    padding: 5px;
    height: 43px;
    border-radius: 74px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 14px;
    padding-left: 68px;
  }
  .login-form .form-group .input-icon {
      font-size: 15px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      align-items: center;
      position: absolute;
      border-radius: 25px;
      bottom: 0;
      height: 100%;
      padding-left: 35px;
      color: #666;
  }
  .login-form .login-btn {
    background: #37abf2;
    padding: 6px 70px;
    border-color: #37abf2;
    color: #fff;
    text-align: center;
    margin: 0 auto;
    font-size: 20px;
    border: 1px solid #37abf2;
    border-radius: 44px;
    width: 100%;
    height: 45px;
    cursor: pointer;
  }
  .login-form .reset-psw {
    float: left;
    width: 100%;
    text-decoration: none;
    color: #37abf2;
    font-size: 14px;
    text-align: center;
    margin-top: 11px;
  }
  .login-form .social-icon button {
      font-size: 20px;
      color: white;
      height: 50px;
      width: 50px;
      background: #37abf2;
      border-radius: 60%;
      margin: 0px 10px;
      border: none;
      cursor: pointer;
  }
  .login-form button:hover{
    opacity: 0.9;
  }
  .login-form .seperator {
    float: left;
    width: 100%;
    border-top: 1px solid #ccc;
    text-align: center;
    margin: 38px 0 0;
  }
  .login-form .seperator b {
    width: 40px;
    height: 40px;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
    background: #fff;
    display: inline-block;
    border: 1px solid #e0e0e0;
    border-radius: 50%;
    position: relative;
    top: -22px;
    z-index: 1;
  }
  .login-form p {
    float: left;
    width: 100%;
    text-align: center;
    font-size: 16px;
    margin: 0 0 10px;
  }
  @media screen and (max-width:767px) {
  .login-form {
      width: 90%;
      padding: 15px 15px 30px;
  }
  }
  .user-role{
    text-align: center;
  }

  .login-form form{
    padding-top: 20px;
  }