
  <router-outlet>
    <!-- <div class="overlay">
      <div class="lds-dual-ring"></div>
    </div> -->
    <div class="overlay" *ngIf="showLoader">
    <div class="cube-wrapper">
      <div class="cube-folding">
        <span class="leaf1"></span>
        <span class="leaf2"></span>
        <span class="leaf3"></span>
        <span class="leaf4"></span>
      </div>
      <span class="loading" data-name="Loading">Please wait..</span>
    </div>
  </div>
    
    
  </router-outlet>