.btn-home-category{
    float: right;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border-radius: 29px;
    border: 1px solid white;
    left: 22px;
}
#header li a{
    color: white;
}