<!-- SUB BANNER -->
<!-- <section class="sub-banner section">
    <div class="awe-parallax bg-profile-feature"></div>
    <div class="awe-overlay overlay-color-3"></div>
    <div class="container">
        <div class="sub-banner-content">
            <h2 class="big">This is banner for promoted course</h2>
            <p>this is not only an elegant theme but also a course management system for wordpress and drupal</p>
            <a href="#" class="mc-btn btn-style-3">See course</a>
        </div>
    </div>
</section> -->
<!-- END / SUB BANNER -->


<!-- PAGE CONTROL -->
<section class="page-control">
    <div class="container">
        <div class="page-info">
            <a href="index.html"><i class="icon md-arrow-left"></i>Back to home</a>
        </div>
        <div class="page-view">
            View
            <span class="page-view-info view-grid active" (click)="changeView('grid')" title="View grid"><i class="icon md-ico-2"></i></span>
            <span class="page-view-info view-list" (click)="changeView('list')" title="View list"><i class="icon md-ico-1"></i></span>
            <div class="mc-select">
                <select class="select" name="" id="all-categories">
                    <option value="">All level</option>
                    <option value="">2</option>
                </select>
            </div>
        </div>
    </div>
</section>
<!-- END / PAGE CONTROL -->

<!-- CATEGORIES CONTENT -->
<section id="categories-content" class="categories-content">
    <div class="container">
       
        <div class="row">
           
            <div class="col-md-9 col-md-push-3 ">
                <div  [ngClass]="gridViewListViewClass">
                    <perfect-scrollbar class="scroll-container" fxFlex="auto">
                    <div class="row">
                        <!-- ITEM -->
                        <div class="col-sm-6 col-md-4" (click)="goto()">
                            <div class="mc-item mc-item-2">
                                <div class="image-heading">
                                    <img src="assets/images/feature/img-1.jpg" alt="">
                                </div>
                                <div class="meta-categories"><a href="#">Web design</a></div>
                                <div class="content-item">
                                    <div class="image-author">
                                        <img src="assets/images/avatar-1.jpg" alt="">
                                    </div>
                                    <h4><a href="course-intro.html">The Complete Digital Photography Course Amazon Top Seller</a></h4>
                                    <div class="name-author">
                                        By <a href="#">Name of Mr or Mrs</a>
                                    </div>
                                </div>
                                <div class="ft-item">
                                    <div class="rating">
                                        <a href="#" class="active"></a>
                                        <a href="#" class="active"></a>
                                        <a href="#" class="active"></a>
                                        <a href="#"></a>
                                        <a href="#"></a>
                                    </div>
                                    <div class="view-info">
                                        <i class="icon md-users"></i>
                                        2568
                                    </div>
                                    <div class="comment-info">
                                        <i class="icon md-comment"></i>
                                        25
                                    </div>
                                    <div class="price">
                                        $190
                                        <span class="price-old">$145</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END / ITEM -->
                        <!-- ITEM -->
                        <div class="col-sm-6 col-md-4">
                            <div class="mc-item mc-item-2">
                                <div class="image-heading">
                                    <img src="assets/images/feature/img-1.jpg" alt="">
                                </div>
                                <div class="meta-categories"><a href="#">Web design</a></div>
                                <div class="content-item">
                                    <div class="image-author">
                                        <img src="assets/images/avatar-1.jpg" alt="">
                                    </div>
                                    <h4><a href="course-intro.html">The Complete Digital Photography Course Amazon Top Seller</a></h4>
                                    <div class="name-author">
                                        <span>By <a href="#">Name of Mr or Mrs</a></span>
                                    </div>
                                </div>
                                <div class="ft-item">
                                    <div class="rating">
                                        <a href="#" class="active"></a>
                                        <a href="#" class="active"></a>
                                        <a href="#" class="active"></a>
                                        <a href="#"></a>
                                        <a href="#"></a>
                                    </div>
                                    <div class="view-info">
                                        <i class="icon md-users"></i>
                                        2568
                                    </div>
                                    <div class="comment-info">
                                        <i class="icon md-comment"></i>
                                        25
                                    </div>
                                    <div class="price">
                                        Free
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ITEM -->

                        <!-- END / ITEM -->
                        <div class="col-sm-6 col-md-4">
                            <div class="mc-item mc-item-2">
                                <div class="image-heading">
                                    <img src="assets/images/feature/img-1.jpg" alt="">
                                </div>
                                <div class="meta-categories"><a href="#">Web design</a></div>
                                <div class="content-item">
                                    <div class="image-author">
                                        <img src="assets/images/avatar-1.jpg" alt="">
                                    </div>
                                    <h4><a href="course-intro.html">The Complete Digital Photography Course Amazon Top Seller</a></h4>
                                    <div class="name-author">
                                        <span>By <a href="#">Name of Mr or Mrs</a></span>
                                    </div>
                                </div>
                                <div class="ft-item">
                                    <div class="rating">
                                        <a href="#" class="active"></a>
                                        <a href="#" class="active"></a>
                                        <a href="#" class="active"></a>
                                        <a href="#"></a>
                                        <a href="#"></a>
                                    </div>
                                    <div class="view-info">
                                        <i class="icon md-users"></i>
                                        2568
                                    </div>
                                    <div class="comment-info">
                                        <i class="icon md-comment"></i>
                                        25
                                    </div>
                                    <div class="price">
                                        $123
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END / ITEM -->

                        <!-- ITEM -->
                        <div class="col-sm-6 col-md-4">
                            <div class="mc-item mc-item-2">
                                <div class="image-heading">
                                    <img src="assets/images/feature/img-1.jpg" alt="">
                                </div>
                                <div class="meta-categories"><a href="#">Web design</a></div>
                                <div class="content-item">
                                    <div class="image-author">
                                        <img src="assets/images/avatar-1.jpg" alt="">
                                    </div>
                                    <h4><a href="course-intro.html">The Complete Digital Photography Course Amazon Top Seller</a></h4>
                                    <div class="name-author">
                                        By <a href="#">Name of Mr or Mrs</a>
                                    </div>
                                </div>
                                <div class="ft-item">
                                    <div class="rating">
                                        <a href="#" class="active"></a>
                                        <a href="#" class="active"></a>
                                        <a href="#" class="active"></a>
                                        <a href="#"></a>
                                        <a href="#"></a>
                                    </div>
                                    <div class="view-info">
                                        <i class="icon md-users"></i>
                                        2568
                                    </div>
                                    <div class="comment-info">
                                        <i class="icon md-comment"></i>
                                        25
                                    </div>
                                    <div class="price">
                                        $190
                                        <span class="price-old">$145</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END / ITEM -->
                        <!-- ITEM -->
                        <div class="col-sm-6 col-md-4">
                            <div class="mc-item mc-item-2">
                                <div class="image-heading">
                                    <img src="assets/images/feature/img-1.jpg" alt="">
                                </div>
                                <div class="meta-categories"><a href="#">Web design</a></div>
                                <div class="content-item">
                                    <div class="image-author">
                                        <img src="assets/images/avatar-1.jpg" alt="">
                                    </div>
                                    <h4><a href="course-intro.html">The Complete Digital Photography Course Amazon Top Seller</a></h4>
                                    <div class="name-author">
                                        <span>By <a href="#">Name of Mr or Mrs</a></span>
                                    </div>
                                </div>
                                <div class="ft-item">
                                    <div class="rating">
                                        <a href="#" class="active"></a>
                                        <a href="#" class="active"></a>
                                        <a href="#" class="active"></a>
                                        <a href="#"></a>
                                        <a href="#"></a>
                                    </div>
                                    <div class="view-info">
                                        <i class="icon md-users"></i>
                                        2568
                                    </div>
                                    <div class="comment-info">
                                        <i class="icon md-comment"></i>
                                        25
                                    </div>
                                    <div class="price">
                                        Free
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ITEM -->

                        <!-- END / ITEM -->
                        <div class="col-sm-6 col-md-4">
                            <div class="mc-item mc-item-2">
                                <div class="image-heading">
                                    <img src="assets/images/feature/img-1.jpg" alt="">
                                </div>
                                <div class="meta-categories"><a href="#">Web design</a></div>
                                <div class="content-item">
                                    <div class="image-author">
                                        <img src="assets/images/avatar-1.jpg" alt="">
                                    </div>
                                    <h4><a href="course-intro.html">The Complete Digital Photography Course Amazon Top Seller</a></h4>
                                    <div class="name-author">
                                        <span>By <a href="#">Name of Mr or Mrs</a></span>
                                    </div>
                                </div>
                                <div class="ft-item">
                                    <div class="rating">
                                        <a href="#" class="active"></a>
                                        <a href="#" class="active"></a>
                                        <a href="#" class="active"></a>
                                        <a href="#"></a>
                                        <a href="#"></a>
                                    </div>
                                    <div class="view-info">
                                        <i class="icon md-users"></i>
                                        2568
                                    </div>
                                    <div class="comment-info">
                                        <i class="icon md-comment"></i>
                                        25
                                    </div>
                                    <div class="price">
                                        $123
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END / ITEM -->
                         <!-- END / ITEM -->
                         <div class="col-sm-6 col-md-4">
                            <div class="mc-item mc-item-2">
                                <div class="image-heading">
                                    <img src="assets/images/feature/img-1.jpg" alt="">
                                </div>
                                <div class="meta-categories"><a href="#">Web design</a></div>
                                <div class="content-item">
                                    <div class="image-author">
                                        <img src="assets/images/avatar-1.jpg" alt="">
                                    </div>
                                    <h4><a href="course-intro.html">The Complete Digital Photography Course Amazon Top Seller</a></h4>
                                    <div class="name-author">
                                        <span>By <a href="#">Name of Mr or Mrs</a></span>
                                    </div>
                                </div>
                                <div class="ft-item">
                                    <div class="rating">
                                        <a href="#" class="active"></a>
                                        <a href="#" class="active"></a>
                                        <a href="#" class="active"></a>
                                        <a href="#"></a>
                                        <a href="#"></a>
                                    </div>
                                    <div class="view-info">
                                        <i class="icon md-users"></i>
                                        2568
                                    </div>
                                    <div class="comment-info">
                                        <i class="icon md-comment"></i>
                                        25
                                    </div>
                                    <div class="price">
                                        $123
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END / ITEM -->
                         <!-- END / ITEM -->
                         <div class="col-sm-6 col-md-4">
                            <div class="mc-item mc-item-2">
                                <div class="image-heading">
                                    <img src="assets/images/feature/img-1.jpg" alt="">
                                </div>
                                <div class="meta-categories"><a href="#">Web design</a></div>
                                <div class="content-item">
                                    <div class="image-author">
                                        <img src="assets/images/avatar-1.jpg" alt="">
                                    </div>
                                    <h4><a href="course-intro.html">The Complete Digital Photography Course Amazon Top Seller</a></h4>
                                    <div class="name-author">
                                        <span>By <a href="#">Name of Mr or Mrs</a></span>
                                    </div>
                                </div>
                                <div class="ft-item">
                                    <div class="rating">
                                        <a href="#" class="active"></a>
                                        <a href="#" class="active"></a>
                                        <a href="#" class="active"></a>
                                        <a href="#"></a>
                                        <a href="#"></a>
                                    </div>
                                    <div class="view-info">
                                        <i class="icon md-users"></i>
                                        2568
                                    </div>
                                    <div class="comment-info">
                                        <i class="icon md-comment"></i>
                                        25
                                    </div>
                                    <div class="price">
                                        $123
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END / ITEM -->
                         <!-- END / ITEM -->
                         <div class="col-sm-6 col-md-4">
                            <div class="mc-item mc-item-2">
                                <div class="image-heading">
                                    <img src="assets/images/feature/img-1.jpg" alt="">
                                </div>
                                <div class="meta-categories"><a href="#">Web design</a></div>
                                <div class="content-item">
                                    <div class="image-author">
                                        <img src="assets/images/avatar-1.jpg" alt="">
                                    </div>
                                    <h4><a href="course-intro.html">The Complete Digital Photography Course Amazon Top Seller</a></h4>
                                    <div class="name-author">
                                        <span>By <a href="#">Name of Mr or Mrs</a></span>
                                    </div>
                                </div>
                                <div class="ft-item">
                                    <div class="rating">
                                        <a href="#" class="active"></a>
                                        <a href="#" class="active"></a>
                                        <a href="#" class="active"></a>
                                        <a href="#"></a>
                                        <a href="#"></a>
                                    </div>
                                    <div class="view-info">
                                        <i class="icon md-users"></i>
                                        2568
                                    </div>
                                    <div class="comment-info">
                                        <i class="icon md-comment"></i>
                                        25
                                    </div>
                                    <div class="price">
                                        $123
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END / ITEM -->
                         <!-- END / ITEM -->
                         <div class="col-sm-6 col-md-4">
                            <div class="mc-item mc-item-2">
                                <div class="image-heading">
                                    <img src="assets/images/feature/img-1.jpg" alt="">
                                </div>
                                <div class="meta-categories"><a href="#">Web design</a></div>
                                <div class="content-item">
                                    <div class="image-author">
                                        <img src="assets/images/avatar-1.jpg" alt="">
                                    </div>
                                    <h4><a href="course-intro.html">The Complete Digital Photography Course Amazon Top Seller</a></h4>
                                    <div class="name-author">
                                        <span>By <a href="#">Name of Mr or Mrs</a></span>
                                    </div>
                                </div>
                                <div class="ft-item">
                                    <div class="rating">
                                        <a href="#" class="active"></a>
                                        <a href="#" class="active"></a>
                                        <a href="#" class="active"></a>
                                        <a href="#"></a>
                                        <a href="#"></a>
                                    </div>
                                    <div class="view-info">
                                        <i class="icon md-users"></i>
                                        2568
                                    </div>
                                    <div class="comment-info">
                                        <i class="icon md-comment"></i>
                                        25
                                    </div>
                                    <div class="price">
                                        $123
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END / ITEM -->
                         <!-- END / ITEM -->
                         <div class="col-sm-6 col-md-4">
                            <div class="mc-item mc-item-2">
                                <div class="image-heading">
                                    <img src="assets/images/feature/img-1.jpg" alt="">
                                </div>
                                <div class="meta-categories"><a href="#">Web design</a></div>
                                <div class="content-item">
                                    <div class="image-author">
                                        <img src="assets/images/avatar-1.jpg" alt="">
                                    </div>
                                    <h4><a href="course-intro.html">The Complete Digital Photography Course Amazon Top Seller</a></h4>
                                    <div class="name-author">
                                        <span>By <a href="#">Name of Mr or Mrs</a></span>
                                    </div>
                                </div>
                                <div class="ft-item">
                                    <div class="rating">
                                        <a href="#" class="active"></a>
                                        <a href="#" class="active"></a>
                                        <a href="#" class="active"></a>
                                        <a href="#"></a>
                                        <a href="#"></a>
                                    </div>
                                    <div class="view-info">
                                        <i class="icon md-users"></i>
                                        2568
                                    </div>
                                    <div class="comment-info">
                                        <i class="icon md-comment"></i>
                                        25
                                    </div>
                                    <div class="price">
                                        $123
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END / ITEM -->
                        
                    </div>
                </perfect-scrollbar>
                </div>
            </div>

            <!-- SIDEBAR CATEGORIES -->
            <div class="col-md-3 col-md-pull-9">
                <aside class="sidebar-categories">
                    <div class="inner">

                        <!-- WIDGET TOP -->
                        <div class="widget">
                            <ul class="list-style-block">
                                <li class="current"><a href="#">Featured</a></li>
                                <li><a href="#">Staff pick</a></li>
                                <li><a href="#">Free</a></li>
                                <li><a href="#">Top paid</a></li>
                            </ul>
                        </div>
                        <!-- END / WIDGET TOP -->

                        <!-- WIDGET CATEGORIES -->
                        <div class="widget widget_categories">
                            <ul class="list-style-block">
                                <li *ngFor="let item of categoryList"><a (click)="filter(item)">{{item.categoryName}}</a></li>
                            </ul>
                        </div>
                    </div>
                </aside>
            </div>
            <!-- END / SIDEBAR CATEGORIES -->

        </div>
   
    </div>
</section>
<!-- END / CATEGORIES CONTENT -->