<header id="header" class="header">
  <div class="banner-holder" style="display: unset;">
    <div class="vsat-banner-container show" style="display: inline; top: 0px;">
 
        <div class="webinar-banner" id="offersdiv">
            <div class="banner-text"><strong>Crack JEE/NEET 2020 </strong>with best teachers <strong>across India</strong>
              <a  target="_blank" href="https://vdnt.in/667z2" class="book-webinar-button" id="book-now-button">Know More</a>
            <span onclick="document.getElementById('offersdiv').remove()">
              <mat-icon class="maticons">close</mat-icon>
            </span>
            </div>
            <!-- <div class="book-section">
                <a target="_blank" href="https://vdnt.in/667z2" class="book-webinar-button" id="book-now-button">Know More</a>
            </div> -->
        </div>
    </div>
</div>


    <div class="container container-menu">
      <div class="logo">
        <a href="index.html" style="float: left;">
          <!-- <img src="../../../assets/images/logo.png" alt="" /> -->
          <div style="width: 75px; height: 34px;" class="inner"><svg preserveAspectRatio="xMidYMid" height="34" width="141" style="margin:auto;/* background:#dddddd; */display:block;" xmlns="http://www.w3.org/2000/svg">
            <style type="text/css">
              text {
                text-anchor: middle; font-size: 40px; opacity: 0;
              }
            </style>
            <g style="transform-origin:70.5px 17px;transform:scale(1)">
            <g transform="translate(70.5,17)">
              <g transform="translate(0,0)"><g class="path" style="transform-origin: -42.58px -0.868134px; animation: 1s linear -0.55s infinite normal forwards running static-c5128dbf-4769-4da5-b933-98db3e5767d6;"><path d="M10.92-12.24L10.92-12.24L10.92-12.24Q13-12.92 15.76-12.92L15.76-12.92L15.76-12.92Q18.52-12.92 18.52-11.32L18.52-11.32L18.52-11.32Q18.52-10.36 17.48-9.74L17.48-9.74L17.48-9.74Q16.44-9.12 14.48-9.12L14.48-9.12L14.48-9.12Q11.40-9.12 9.52-10.60L9.52-10.60L9.52-10.60Q8.80-9.84 8.40-9.32L8.40-9.32L8.40-9.32Q8-8.80 7.50-7.32L7.50-7.32L7.50-7.32Q7-5.84 7-3.76L7-3.76L7-3.76Q7-1.68 8.76-0.14L8.76-0.14L8.76-0.14Q10.52 1.40 12.42 1.40L12.42 1.40L12.42 1.40Q14.32 1.40 15.96 0.68L15.96 0.68L15.96 0.68Q17.60-0.04 18.56-1L18.56-1L18.56-1Q19.52-1.96 20.24-3.12L20.24-3.12L20.24-3.12Q21.24-4.60 21.56-5.72L21.56-5.72L22.36-5.52L22.36-5.52Q22.36-5.40 22.06-4.68L22.06-4.68L22.06-4.68Q21.76-3.96 20.96-2.78L20.96-2.78L20.96-2.78Q20.16-1.60 19.04-0.50L19.04-0.50L19.04-0.50Q17.92 0.60 15.96 1.40L15.96 1.40L15.96 1.40Q14 2.20 11.68 2.20L11.68 2.20L11.68 2.20Q7.40 2.20 5 0.38L5 0.38L5 0.38Q2.60-1.44 2.60-4.36L2.60-4.36L2.60-4.36Q2.60-7.28 4.42-9L4.42-9L4.42-9Q6.24-10.72 8.72-11.40L8.72-11.40L8.72-11.40Q6.92-13.60 6.92-16.62L6.92-16.62L6.92-16.62Q6.92-19.64 9.34-22L9.34-22L9.34-22Q11.76-24.36 16.32-24.36L16.32-24.36L16.32-24.36Q19.80-24.36 21.66-23.14L21.66-23.14L21.66-23.14Q23.52-21.92 23.52-20.10L23.52-20.10L23.52-20.10Q23.52-18.28 22.58-16.38L22.58-16.38L22.58-16.38Q21.64-14.48 21.52-13.36L21.52-13.36L20.68-13.36L20.68-13.36Q20.80-14.56 21.74-16.44L21.74-16.44L21.74-16.44Q22.68-18.32 22.68-19.94L22.68-19.94L22.68-19.94Q22.68-21.56 20.98-22.60L20.98-22.60L20.98-22.60Q19.28-23.64 16.66-23.64L16.66-23.64L16.66-23.64Q14.04-23.64 12.20-21.62L12.20-21.62L12.20-21.62Q10.36-19.60 10.36-15.44L10.36-15.44L10.36-15.44Q10.36-13.20 10.92-12.24zM11.52-11.08L11.52-11.08L11.52-11.08Q11.72-10.80 12.54-10.32L12.54-10.32L12.54-10.32Q13.36-9.84 14.72-9.84L14.72-9.84L14.72-9.84Q16.08-9.84 16.90-10.26L16.90-10.26L16.90-10.26Q17.72-10.68 17.72-11.24L17.72-11.24L17.72-11.24Q17.72-12.20 15.56-12.20L15.56-12.20L15.56-12.20Q13.40-12.20 11.24-11.56L11.24-11.56L11.24-11.56Q11.32-11.36 11.52-11.08" fill="#74e6fd" stroke="none" stroke-width="none" transform="translate(-55.6400146484375,10.211866048177086)" style="fill: rgb(116, 230, 253);"></path></g><g class="path" style="transform-origin: -21.82px 2.49187px; animation: 1s linear -0.44s infinite normal forwards running static-c5128dbf-4769-4da5-b933-98db3e5767d6;"><path d="M41.52-8.08L41.44-7.36L26.12-7.36L26.20-8.08L41.52-8.08" fill="#74e6fd" stroke="none" stroke-width="none" transform="translate(-55.6400146484375,10.211866048177086)" style="fill: rgb(255, 255, 255);"></path></g><g class="path" style="transform-origin: -1.82001px -2.56813px; animation: 1s linear -0.33s infinite normal forwards running static-c5128dbf-4769-4da5-b933-98db3e5767d6;"><path d="M58.64 0.36L58.64 0.36L58.64 0.36Q55.12 0.36 54.80-2.64L54.80-2.64L54.80-2.64Q53.04 0.36 50.32 0.36L50.32 0.36L50.32 0.36Q47.60 0.36 46.16-1.18L46.16-1.18L46.16-1.18Q44.72-2.72 44.72-5.40L44.72-5.40L44.72-5.40Q44.72-10.12 46.96-12.84L46.96-12.84L46.96-12.84Q49.20-15.56 52.76-15.56L52.76-15.56L52.76-15.56Q54.80-15.56 55.92-14.32L55.92-14.32L55.92-14.32Q56.40-13.68 56.52-13.36L56.52-13.36L58.68-25.12L58.68-25.12Q57.48-25 56.68-24L56.68-24L56.08-24.48L56.08-24.48Q57.28-25.92 59.10-25.92L59.10-25.92L59.10-25.92Q60.92-25.92 61.92-25L61.92-25L61.92-25Q62.92-24.08 62.92-22.40L62.92-22.40L62.92-22.40Q62.92-22.08 62.84-21.36L62.84-21.36L62.84-21.36Q60.88-10.36 59.04-0.44L59.04-0.44L59.04-0.44Q60.24-0.56 61.04-1.56L61.04-1.56L61.64-1.08L61.64-1.08Q60.44 0.36 58.64 0.36zM49.24-3.76L49.24-3.76Q49.24-1.92 49.62-1.24L49.62-1.24L49.62-1.24Q50-0.56 50.82-0.56L50.82-0.56L50.82-0.56Q51.64-0.56 52.40-1.12L52.40-1.12L52.40-1.12Q53.16-1.68 53.68-2.56L53.68-2.56L53.68-2.56Q54.64-4.04 55.04-5.08L55.04-5.08L56.20-11.40L56.20-11.40Q56.12-12.68 55.36-13.74L55.36-13.74L55.36-13.74Q54.60-14.80 52.76-14.80L52.76-14.80L52.76-14.80Q51.48-14.80 50.36-11.04L50.36-11.04L50.36-11.04Q49.24-7.28 49.24-3.76L49.24-3.76" fill="#74e6fd" stroke="none" stroke-width="none" transform="translate(-55.6400146484375,10.211866048177086)" style="fill: rgb(252, 252, 252);"></path></g><g class="path" style="transform-origin: 17.18px 2.61187px; animation: 1s linear -0.22s infinite normal forwards running static-c5128dbf-4769-4da5-b933-98db3e5767d6;"><path d="M66.48-14.76L66.48-14.76L66.48-14.76Q65.52-14.76 64.48-13.64L64.48-13.64L63.88-14.12L63.88-14.12Q64.16-14.68 65.12-15.12L65.12-15.12L65.12-15.12Q66.08-15.56 67.24-15.56L67.24-15.56L67.24-15.56Q70.88-15.56 70.88-12.28L70.88-12.28L70.88-12.28Q70.88-10.88 70.16-7.28L70.16-7.28L70.16-7.28Q69.44-3.68 69.44-2.56L69.44-2.56L69.44-2.56Q69.44-0.84 71.08-0.84L71.08-0.84L71.08-0.84Q72.24-0.84 73.34-2.20L73.34-2.20L73.34-2.20Q74.44-3.56 75.24-5.96L75.24-5.96L76.92-15.20L76.92-15.20Q79.88-15.20 81.24-15.44L81.24-15.44L81.76-15.56L79.08-0.44L79.08-0.44Q80.28-0.56 81.08-1.56L81.08-1.56L81.68-1.08L81.68-1.08Q80.48 0.36 78.68 0.36L78.68 0.36L78.68 0.36Q76.88 0.36 75.88-0.52L75.88-0.52L75.88-0.52Q74.88-1.40 74.84-3L74.84-3L74.84-3Q73.16 0.36 69.88 0.36L69.88 0.36L69.88 0.36Q67.52 0.36 66.20-0.98L66.20-0.98L66.20-0.98Q64.88-2.32 64.88-4.68L64.88-4.68L64.88-4.68Q64.88-5.92 65.64-9.46L65.64-9.46L65.64-9.46Q66.40-13 66.48-14.76" fill="#74e6fd" stroke="none" stroke-width="none" transform="translate(-55.6400146484375,10.211866048177086)" style="fill: rgb(116, 230, 253);"></path></g><g class="path" style="transform-origin: 34.52px -1.34813px; animation: 1s linear -0.11s infinite normal forwards running static-c5128dbf-4769-4da5-b933-98db3e5767d6;"><path d="M93.36-25.92L93.36-25.92L93.36-25.92Q94.80-25.92 95.74-24.84L95.74-24.84L95.74-24.84Q96.68-23.76 96.68-21.60L96.68-21.60L96.68-21.60Q96.68-19.44 94.96-15.20L94.96-15.20L96.48-15.20L96.40-14.48L94.64-14.48L94.64-14.48Q93.28-11.08 93.28-9.32L93.28-9.32L92.56-9.32L92.56-9.32Q92.56-11.40 93.88-14.48L93.88-14.48L91.56-14.48L91.56-14.48Q90.36-8.20 88.48 2.80L88.48 2.80L83.64 2.80L86.72-14.48L84.28-14.48L84.36-15.20L86.84-15.20L87.48-18.64L87.48-18.64Q88.12-22.60 89.46-24.26L89.46-24.26L89.46-24.26Q90.80-25.92 93.36-25.92zM95.92-21.68L95.92-21.68L95.92-21.68Q95.92-23.12 95.26-24.16L95.26-24.16L95.26-24.16Q94.60-25.20 93.64-25.20L93.64-25.20L93.64-25.20Q93.24-23.64 91.68-15.20L91.68-15.20L94.16-15.20L94.16-15.20Q95.92-19.20 95.92-21.68" fill="#74e6fd" stroke="none" stroke-width="none" transform="translate(-55.6400146484375,10.211866048177086)" style="fill: rgb(255, 255, 255);"></path></g><g class="path" style="transform-origin: 49.28px 6.11187px; animation: 1s linear 0s infinite normal forwards running static-c5128dbf-4769-4da5-b933-98db3e5767d6;"><path d="M98.60-14.76L98.60-14.76L98.60-14.76Q97.64-14.76 96.60-13.64L96.60-13.64L96.00-14.12L96.00-14.12Q96.28-14.68 97.24-15.12L97.24-15.12L97.24-15.12Q98.20-15.56 99.36-15.56L99.36-15.56L99.36-15.56Q103.00-15.56 103.00-12.28L103.00-12.28L103.00-12.28Q103.00-10.88 102.24-7.70L102.24-7.70L102.24-7.70Q101.48-4.52 101.48-3.40L101.48-3.40L101.48-3.40Q101.48-1.48 103.08-1.48L103.08-1.48L103.08-1.48Q104.40-1.48 105.66-3.28L105.66-3.28L105.66-3.28Q106.92-5.08 107.72-8.12L107.72-8.12L109.04-15.20L109.04-15.20Q112-15.20 113.36-15.44L113.36-15.44L113.88-15.56L111.36-1.40L111.36-1.40Q110.64 2.72 108.02 5.04L108.02 5.04L108.02 5.04Q105.40 7.36 101.24 7.36L101.24 7.36L101.24 7.36Q98.72 7.36 97.34 6.50L97.34 6.50L97.34 6.50Q95.96 5.64 95.96 4.26L95.96 4.26L95.96 4.26Q95.96 2.88 96.80 2.06L96.80 2.06L96.80 2.06Q97.64 1.24 99.18 1.24L99.18 1.24L99.18 1.24Q100.72 1.24 102.04 1.74L102.04 1.74L102.04 1.74Q103.36 2.24 103.96 2.32L103.96 2.32L103.88 3.04L103.88 3.04Q103.20 2.96 101.92 2.48L101.92 2.48L101.92 2.48Q100.64 2 99.38 2L99.38 2L99.38 2Q98.12 2 97.46 2.56L97.46 2.56L97.46 2.56Q96.80 3.12 96.80 4.18L96.80 4.18L96.80 4.18Q96.80 5.24 97.96 5.90L97.96 5.90L97.96 5.90Q99.12 6.56 100.84 6.56L100.84 6.56L100.84 6.56Q105.00 6.56 105.96 1.56L105.96 1.56L106.96-3.96L106.96-3.96Q105.28-0.28 101.88-0.28L101.88-0.28L101.88-0.28Q99.56-0.28 98.30-1.60L98.30-1.60L98.30-1.60Q97.04-2.92 97.04-5.32L97.04-5.32L97.04-5.32Q97.04-6.56 97.78-9.78L97.78-9.78L97.78-9.78Q98.52-13 98.60-14.76" fill="#74e6fd" stroke="none" stroke-width="none" transform="translate(-55.6400146484375,10.211866048177086)" style="fill: rgb(252, 252, 252);"></path></g></g>
            </g>
            </g>
            </svg></div>
        </a>
        <!-- <a mat-button mat-button [matMenuTriggerFor]="menu" class="btn-home-category">
          <mat-icon class="menu-icon">line_style</mat-icon>
          <span class="menu-name">Category</span>
        </a> -->

        <div class="search-box">
          <i class="icon md-search"></i>
          <!-- <mat-icon class="icon md-search">search</mat-icon> -->
          <div class="search-inner">
            <form>
              <input type="text" (keyup.enter)="search($event)" placeholder="key words" />
            </form>
          </div>
        </div>

        <!-- <button mat-button [matMenuTriggerFor]="menu">Category</button> -->
        
        <mat-menu #menu="matMenu">
          <button [routerLink]="['/elearn/course/courselist']" [queryParams]="{ reference: item.categoryName }" mat-menu-item  *ngFor="let item of category">{{item.categoryName}}</button>
        </mat-menu>
      </div>
  
      <nav class="navigation">
      
        <!-- <button mat-button [matMenuTriggerFor]="aboveMenu">Above</button>
<mat-menu #aboveMenu="matMenu" yPosition="above">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>

<button mat-button [matMenuTriggerFor]="belowMenu">Below</button>
<mat-menu #belowMenu="matMenu" yPosition="below">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>

<button mat-button [matMenuTriggerFor]="beforeMenu">Before</button>
<mat-menu #beforeMenu="matMenu" xPosition="before">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>


<button mat-button [matMenuTriggerFor]="afterMenu">After</button>
<mat-menu #afterMenu="matMenu" xPosition="after">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu> -->

<!-- <button mat-button  [routerLink]="[menu.uri]" *ngFor="let menu of menudetail">
  <span class="menu-name" style="color: white;">{{menu.title}}</span>
</button> -->
        <ul class="list-account-info">
          <li class="list-item messages">
            <button mat-button style="color: white;" [routerLink]="['/elearn']">
              <mat-icon>videocam</mat-icon>
              <span class="menu-name" >
                Live Session</span>
            </button>
          </li>


          <li class="list-item messages" *ngFor="let menu of menudetail">
            <button mat-button [routerLink]="[menu.uri]">
              <span class="menu-name" style="color: white;">{{menu.title}}</span>
            </button>
          </li>
         
          <li class="list-item messages" style="border-left: 1px solid #fff;" *ngIf="isUserLoggedIn">
            <div class="message-info item-click">
              <mat-icon class="menu-icon">shopping_cart</mat-icon>
          </div>
         
          </li>
          <li class="list-item notification" *ngIf="isUserLoggedIn">
            <div class="message-info item-click">
              <mat-icon data-wishlist="wishlist" class="menu-icon">favorite</mat-icon>
          </div>
           
            <div class="toggle-notification toggle-list" [ngClass]="openWishListClass">
                <div class="list-profile-title">
                    <h4>My favorite course</h4>
                    <span class="count-value">2</span>
                </div>

                <div class="list-wrap ps-container ps-active-y">
                  <ul class="list-notification">
                    <li class="ac-new">
                        <a href="#">
                            <div class="list-body">
                                <div class="author">
                                    <span>Megacourse</span>
                                    <div class="div-x"></div>
                                </div>
                                <p>attend Salary for newbie course</p>
                                <div class="image">
                                    <img src="/assets/images/feature/img-1.jpg" alt="">
                                </div>
                                <div class="time">
                                    <span>5 minutes ago</span>
                                </div>
                            </div>
                        </a>
                    </li>
                   
                    <li class="ac-new">
                        <a href="#">
                            <div class="list-body">
                                <div class="author">
                                    <span>Megacourse</span>
                                    <div class="div-x"></div>
                                </div>
                                <p>attend Salary for newbie course</p>
                                <div class="image">
                                    <img src="/assets/images/feature/img-1.jpg" alt="">
                                </div>
                                <div class="time">
                                    <span>5 minutes ago</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <!-- END / LIST ITEM -->

                    <!-- LIST ITEM -->
                    <li>
                        <a href="#">
                            <div class="list-body">
                                <div class="author">
                                    <span>Megacourse</span>
                                    <div class="div-x"></div>
                                </div>
                                <p>attend Salary for newbie course</p>
                                <div class="image">
                                    <img src="/assets/images/feature/img-1.jpg" alt="">
                                </div>
                                <div class="time">
                                    <span>5 minutes ago</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <!-- END / LIST ITEM -->

                    <!-- LIST ITEM -->
                    <li>
                        <a href="#">
                            <div class="list-body">
                                <div class="author">
                                    <span>Megacourse</span>
                                    <div class="div-x"></div>
                                </div>
                                <p>attend Salary for newbie course</p>
                                <div class="image">
                                    <img src="/assets/images/feature/img-1.jpg" alt="">
                                </div>
                                <div class="time">
                                    <span>5 minutes ago</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <!-- END / LIST ITEM -->

                    <!-- LIST ITEM -->
                    <li>
                        <a href="#">
                            <div class="list-body">
                                <div class="author">
                                    <span>Megacourse</span>
                                    <div class="div-x"></div>
                                </div>
                                <p>attend Salary for newbie course</p>
                                <div class="image">
                                    <img src="/assets/images/feature/img-1.jpg" alt="">
                                </div>
                                <div class="time">
                                    <span>5 minutes ago</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <!-- END / LIST ITEM -->

                    <!-- LIST ITEM -->
                    <li>
                        <a href="#">
                            <div class="list-body">
                                <div class="author">
                                    <span>Megacourse</span>
                                    <div class="div-x"></div>
                                </div>
                                <p>attend Salary for newbie course</p>
                                <div class="image">
                                    <img src="images/feature/img-1.jpg" alt="">
                                </div>
                                <div class="time">
                                    <span>5 minutes ago</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <!-- END / LIST ITEM -->

                    

                </ul><div class="ps-scrollbar-x-rail" style="width: 400px; display: none; left: 0px;"><div class="ps-scrollbar-x" style="left: 0px; width: 0px;"></div></div><div class="ps-scrollbar-y-rail" style="top: 0px; height: 226px; display: inherit; right: 0px;"><div class="ps-scrollbar-y" style="top: 0px; height: 103px;"></div></div></div>
            </div>
          </li>     
          <li class="list-item messages" *ngIf="isUserLoggedIn">
        <div class="message-info item-click">
          <mat-icon data-notification="notification" class="menu-icon">notifications</mat-icon>
          <span class="itemnew"><i>4</i></span>
      </div>
        <div class="toggle-message toggle-list" [ngClass]="openNotificationClass">
            <div class="list-profile-title">
                <h4>Inbox message</h4>
                <span class="count-value">3</span>
                <a href="#" class="new-message"><i class="icon md-pencil"></i></a>
            </div>
            <ul class="list-message">

                <li class="ac-new">
                    <a href="#">
                        <div class="image">
                            <img src="/assets/images/team-13.jpg" alt="">
                        </div>
                        <div class="list-body">
                            <div class="author">
                                <span>Megacourse</span>
                                <div class="div-x"></div>
                            </div>
                            <p>Welcome message</p>
                            <div class="time">
                                <span>12:53</span>
                            </div>
                            <div class="indicator">
                                <i class="icon md-paperclip"></i>
                            </div>
                        </div>
                    </a>
                </li>
                <!-- END / LIST ITEM -->

                <!-- LIST ITEM -->
                <li class="ac-new">
                    <a href="#">
                        <div class="image">
                            <img src="/assets/images/team-13.jpg" alt="">
                        </div>
                        <div class="list-body">
                            <div class="author">
                                <span>Name of sender</span>
                                <div class="div-x"></div>
                            </div>
                            <p>Message title</p>
                            <div class="time">
                                <span>5 days ago</span>
                            </div>
                        </div>
                    </a>
                </li>
                <!-- END / LIST ITEM -->

                <!-- LIST ITEM -->
                <li class="ac-new">
                    <a href="#">
                        <div class="image">
                            <img src="/assets/images/team-13.jpg" alt="">
                        </div>
                        <div class="list-body">
                            <div class="author">
                                <span>Sasha Grey</span>
                                <div class="div-x"></div>
                            </div>
                            <p>Maecenas sodales, nisl eget dign...</p>
                            <div class="time">
                                <span>5 days ago</span>
                            </div>
                        </div>
                    </a>
                </li>
                <!-- END / LIST ITEM -->

                <!-- LIST ITEM -->
                <li>
                    <a href="#">
                        <div class="image">
                            <img src="/assets/images/team-13.jpg" alt="">
                        </div>
                        <div class="list-body">
                            <div class="author">
                                <span>Amanda Gleam</span>
                                <div class="div-x"></div>
                            </div>
                            <p>Message title</p>
                            <div class="time">
                                <span>5 days ago</span>
                            </div>
                        </div>
                    </a>
                </li>
                <!-- END / LIST ITEM -->

                <!-- LIST ITEM -->
                <li>
                    <a href="#">
                        <div class="image">
                            <img src="/assets/images/team-13.jpg" alt="">
                        </div>
                        <div class="list-body">
                            <div class="author">
                                <span>Amanda Gleam</span>
                                <div class="div-x"></div>
                            </div>
                            <p>Message title</p>
                            <div class="time">
                                <span>5 days ago</span>
                            </div>
                        </div>
                    </a>
                </li>
                <!-- END / LIST ITEM -->

                <!-- LIST ITEM -->
                <li>
                    <a href="#">
                        <div class="image">
                            <img src="/assets/images/team-13.jpg" alt="">
                        </div>
                        <div class="list-body">
                            <div class="author">
                                <span>Amanda Gleam</span>
                                <div class="div-x"></div>
                            </div>
                            <p>Message title</p>
                            <div class="time">
                                <span>5 days ago</span>
                            </div>
                        </div>
                    </a>
                </li>
                <!-- END / LIST ITEM -->

            </ul>
            <div class="viewall">
                <a href="#">view all 80 messages</a>
            </div>
        </div>
          </li>
      
          <li class="list-item messages" *ngIf="isUserLoggedIn">
            <a mat-button  [matMenuTriggerFor]="menuProfile">
              <img src="/assets/images/avatar-1.jpg"
                class="matero-user-avatar r-full align-middle"
                width="35"
                alt="avatar"
              />
              <mat-icon>keyboard_arrow_down</mat-icon>
            </a>
        
            <mat-menu #menuProfile="matMenu">
              <a  mat-menu-item>
                <mat-icon>account_circle</mat-icon>
                <span>Profile</span>
              </a>
              <a  mat-menu-item>
                <mat-icon>settings</mat-icon>
                <span>Settings</span>
              </a>
              <a href="javascript:void(0)" (click)="logout()"  mat-menu-item>
                <mat-icon>exit_to_app</mat-icon>
                <span>Logout</span>
              </a>
            </mat-menu>
          </li>
          <li class="list-item messages"  *ngIf="!isUserLoggedIn">
            <a class="login-logout" [routerLink]="['/elearn/login']">Sign In</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>