.btn-home-category{
    float: right;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border-radius: 29px;
    border: 1px solid white;
    left: 22px;
}
#header li a{
    color: white;
}

.vsat-banner-container{
    background: #FFC107;
}
.book-webinar-button{
    margin-left: 10px;
    border: 1px solid;
    padding-left: 12px;
    border-radius: 20px;
    padding-right: 12px;
    font-family: monospace;
    color: white;
    background: #37abf2;
    border-color: transparent;
}
.banner-text{
    text-align: center;
    padding: 4px; 

}

.matero-user-avatar{
    border-radius: 50%;
}
.book-section{
    text-align: center;
}

.webinar-banner{
    color:#4a4a4a !important;
}

.maticons{
    font-size: 18px;
    background: white;
    border-radius: 50%;
    margin-right: 17px;
    height: 19px;
    width: 20px;
    float: right;
}