<section id="login-content" class="login-content">
    <div class="awe-parallax bg-login-content"></div>
    <div class="awe-overlay"></div>
    <div class="container">
        <div class="row">


            
            <!-- FORM -->
            <div class="col-lg-4 pull-right">
                <div class="form-login">
                    <form  [formGroup]="frmRegister"  (ngSubmit)="register()">
                        <h2 class="text-uppercase">sign up</h2>
                        <div class="form-fullname">
                            <input class ="first-name"type="text" formControlName="firstName" placeholder="First name">
                            <input class="last-name" formControlName="lastName" type="text" placeholder="Last name">
                            <small class="form-text text-danger" *ngFor="let errorMessage of frmRegister.controls.firstName['errorMessages']">
                                {{errorMessage}}<br/>
                            </small>
                            <small class="form-text text-danger" *ngFor="let errorMessage of frmRegister.controls.lastName['errorMessages']">
                                {{errorMessage}}<br/>
                            </small>
                        </div>
                        <div class="form-datebirth">
                            <input type="text" formControlName="userName" placeholder="Username">
                            <small class="form-text text-danger" *ngFor="let errorMessage of frmRegister.controls.userName['errorMessages']">
                                {{errorMessage}}<br/>
                            </small>
                        </div>
                        <div class="form-email">
                            <input type="text" formControlName="email" placeholder="Email-Id">
                            <small class="form-text text-danger" *ngFor="let errorMessage of frmRegister.controls.email['errorMessages']">
                                {{errorMessage}}<br/>
                            </small>
                        </div>
                        <div class="form-password">
                            <input type="password" formControlName="password" placeholder="Password">
                            <small class="form-text text-danger" *ngFor="let errorMessage of frmRegister.controls.password['errorMessages']">
                                {{errorMessage}}<br/>
                            </small>
                        </div>
                        
                        <div class="form-submit-1">
                            <input type="submit" [disabled]="!frmRegister.valid" value="Become a member" class="mc-btn btn-style-1">
                        </div>
                        <div class="link">
                            <a [routerLink]="['/elearn/login']">
                                <i class="icon md-arrow-right"></i>Already have account ? Log in
                            </a>
                        </div>
                    </form>
                </div>
            </div>
            <!-- END / FORM -->

            <div class="image">
                <img src="/assets/images/homeslider/img-thumb.png" alt="">
            </div>

        </div>
    </div>
</section>