
.cd-top {
	background-color: rgb(51, 122, 183);
	bottom: 0px;
	color: rgb(255, 255, 255);
	display: inline-block;
	font-size: 18px;
	line-height: 24px;
	position: fixed;
	opacity: 0;
	right: 0px;
	text-align: center;
	text-decoration: none;
	-webkit-transform: scale(5) translate(47px,-10px);
	-moz-transform: scale(5) translate(47px,-10px);
	-o-transform: scale(5) translate(47px,-10px);
	-ms-transform: scale(5) translate(47px,-10px);
	transform: scale(5) translate(47px,-10px);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	visibility: hidden;
  	white-space: nowrap;
  	width: 100%;
}
.cd-top.cd-is-visible, .no-touch .cd-top:hover {
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.cd-top.cd-is-visible {
	opacity: 0.9;
	-webkit-transform: scale(1) translate(0px,0px);
	-moz-transform: scale(1) translate(0px,0px);
	-o-transform: scale(1) translate(0px,0px);
	-ms-transform:scale(1) translate(0px,0px);
	transform: scale(1) translate(0px,0px);
	visibility: visible;
}
.cd-top.cd-is-visible:hover {
	color: rgb(255, 255, 255);
	opacity: 1;
} 

.cd-top:hover {	
	text-decoration: none;
}

.cd-top .fa {
	padding: 16px 16px;
}
.cd-top span:last-child {
	padding: 13px 16px;
}

[data-notify="progressbar"] {
	margin-bottom: 0px;
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 5px;
}



/*CUSTOM NOTIFICATIONS */
.alert-minimalist {
	background-color: rgb(241, 242, 240);
	border-color: rgba(149, 149, 149, 0.3);
	border-radius: 3px;
	color: rgb(149, 149, 149);
	padding: 10px;
}
.alert-minimalist > [data-notify="icon"] {
	height: 50px;
	margin-right: 12px;
}
.alert-minimalist > [data-notify="title"] {
	color: rgb(51, 51, 51);
	display: block;
	font-weight: 700;
	margin-bottom: 5px;
}
.alert-minimalist > [data-notify="message"] {
	font-size: 80%;
}

@import url(http://fonts.googleapis.com/css?family=Old+Standard+TT:400,700);
[data-notify="container"][class*="alert-pastel-"] {
	background-color: rgb(255, 255, 238);
	border-width: 0px;
	border-left: 15px solid rgb(255, 240, 106);
	border-radius: 0px;
	box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.3);
	font-family: 'Old Standard TT', serif;
	letter-spacing: 1px;
}
[data-notify="container"].alert-pastel-info {
	border-left-color: rgb(255, 179, 40);
}
[data-notify="container"].alert-pastel-danger {
	border-left-color: rgb(255, 103, 76);
}
[data-notify="container"][class*="alert-pastel-"] > [data-notify="title"] {
	color: rgb(80, 80, 57);
	display: block;
	font-weight: 700;
	margin-bottom: 5px;
}
[data-notify="container"][class*="alert-pastel-"] > [data-notify="message"] {
	font-weight: 400;
}



